@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #1F2937;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
